body { line-height: 1.5;}

header { text-align: center;
         background-color: rgb(199,134,199);
         padding: 20px;}

.Date { color: blue;}
main {text-align:center;}

p {margin-left: auto;;
margin-right:auto;
width: 600px;
text-align: center ;}


footer {text-align: center;
        background-color: rgb(144,144,231);
        }